.Products {
  display: flex;
  flex-direction: column;
  padding: 3em 8em;
  width: 100%;
  box-sizing: border-box;
}

.Date {
  margin-bottom: 1em;
  padding-bottom: 0.3em;
  font-size: 1em;
  color: #24292e;
}

@media (max-width: 768px) {
  .Products {
    padding: 0.3em;
  }
}
