.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 11hv;
    background-color: #24292e;
    padding: 0 5em;
    position: fixed;
}

.NavAside {
    display: flex;
    align-items: center;
}

.Logo {
    display: flex;
    align-items: center;
}

.Initial {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fb6d3a;;
    height: 3em;
    width: 3em;
    border-radius: 5px;
    margin-right: 0.6em;
}

.Logo h1 {
    color: white;
}

.NavButtons {
    display: flex;
    align-items: center;
}

.NavButtons Button {
    margin-left: 2em;
}

.MenuBar {
    display: none;
    cursor: pointer;
}

.SideBar {
    display: none;
}

@media(max-width: 768px) {
    .Header {
        height: 5em;
        padding: 0 1em;
    }
    .NavButtons {
        display: none;
    }
    
    .NavItems {
        display: none;
    }

    .MenuBar {
        display: flex;
        width: 3.5em;
    }

    .MenuBar img {
        max-width: 100%;
    }

    .Initial {
        height: 3em;
        width: 3em;
        border-radius: 0.5em;
        margin-right: 0.6em;
    }

    .SideBar {
        display: flex;
        flex-direction: column;
        position: absolute;
        height: 15em;
        background-color: #503E9D;
        width: 80%;
        top: 5em;
        left: -1em;
        padding: 1em 2em;
        transition: transform 0.5s ease-in-out;
    }

    .SideBar .NavItems {
        display: flex;
        flex-direction: column;
    }

    .SideBar .NavButtons{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .SideBar .NavButtons Button {
        margin-left: 0;   
    }

}
