.ProductVote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 5em;
  width: 70px;
  border-radius: 5px;
  background-color: white;
  transition: background-color 1s ease-in-out;
  margin-left: 1em;
}

.NotProductUpVoted {
  border: 1px solid rgb(168, 166, 166);
}

.ProductUpVoted {
  border: 1px solid #fb6d3a;
  background-color: #e74c3c;
}

.ProductVote img {
  width: 15px;
  height: 20px;
}

.ProductVote p {
  font-weight: 600;
}
