.Product {
  display: flex;
  width: 65%;
  padding: 2em;
  border: 0.0625em solid #b8bcc1;
  border-radius: 0.375em;
  box-sizing: border-box;
  align-items: center;
  cursor: pointer;
  font-size: small;
  height: 10em;
  margin-bottom: 2em;
}

.Product:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.ProductImgCountainer {
  display: flex;
  height: 8em;
  width: 15%;
  align-items: center;
}

.ProductImgCountainer img {
  height: 80px;
  max-width: 80px;
}

.ProductInfo {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: space-between;
  height: 8em;
  padding-left: 10px;
}

.Title {
  font-size: 1rem;
  color: #c1552f;
}

.Caption {
  font-size: 0.8125rem;
  font-weight: 500;
}

.Number {
  font-weight: 700;
}

.Topics {
  font-weight: 500;
  font-size: 0.7rem;
}

.ProductCommentSection {
  display: flex;
  align-items: center;
}

.ProductComment {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1em 0.5em;
  border: 1px solid grey;
  margin-right: 0.5em;
  border-radius: 5px;
}
.ProductCommentImg {
  width: 1.5em;
}

@media (max-width: 768px) {
  .Product {
    width: 100%;
  }
  .ProductInfo {
    margin-left: 2.3em;
  }
}
