.Product {
    display: flex;
    width: 100%;
    padding: 2em;
    border-radius: 1em;
    box-sizing: border-box;
    box-shadow: 4px 4px 18px rgba(0,0,0,0.2);
    align-items: center;
    cursor: pointer;
    height: 10em;
    margin-bottom: 2em;
    background-color: white;
    transition: background-color 1s ease-in-out;
}

.Product:hover {
    background-color: rgba(0,0,0,0.05);
}

.ProductImgCountainer {
    display: flex;
    height: 8em;
    width: 15%;
    align-items: center;
}

.ProductImgCountainer img {
    height: 8em;
    max-width: 100%;
}

.ProductInfo {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 2em;
    justify-content: space-between;
    height: 8em;
}

.Title {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #FB6D3A;
}

.Caption {
    font-size: 1rem;
    font-weight: 500;
}

.Number {
    font-weight: 700;
    font-size: 1rem;
}

.Topics {
    font-weight: 500;
    font-size: 1rem;
}

.ProductCommentSection {
    display: flex;
    align-items: center;
}

.ProductComment {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.1em 0.5em;
    border: 1px solid grey;
    margin-right: 0.5em;
    border-radius: 5px;
}

.ProductVote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5em;
    width: 8%;
    border-radius: 5px;
    background-color: white;
    transition: background-color 1s ease-in-out;
}

.NotProductUpVoted {
    border: 1px solid rgb(168, 166, 166);
}

.ProductUpVoted {
    border: 1px solid #FB6D3A;
}

.ProductVote:hover {
    background-color: rgba(0,0,0,0.05);
}

.ProductVote img {
    width: 15px;
    height: 20px;
}

.ProductVote p {
    font-weight: 600;
}