.Input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.InputElement {
    width: 100%;
    border-radius: 1em;
    border: 1px solid grey;
    outline: none;
    padding: 0.5em 1.2em;
    font-size: 1.2rem;
}

.InputElement:focus {
    box-shadow: 4px 4px 5px rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.2)
}

.Label {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 0.5em;
}

.Small {
    color: rgb(253, 89, 89);
}