.Button {
  height: 2.5em;
  width: 5em;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #fb6d3a;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
}

.Button:focus {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
}

.Button:hover {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
}
